:root,
.light,
.light-theme,
.radix-themes {
  --color-background: #fdfdfd;
}

.radix-themes, :root, .light, .light-theme {
  --gray-1: #f2f1ef;
  --gray-2: #edeceb;
  --gray-3: #e4e2e1;
  --gray-4: #dbdad8;
  --gray-5: #d3d2d0;
  --gray-6: #cbc9c7;
  --gray-7: #bfbdbc;
  --gray-8: #acaaa8;
  --gray-9: #7f7b77;
  --gray-10: #75716e;
  --gray-11: #575552;
  --gray-12: #221f1b;

  --gray-a1: #bef1ff33;
  --gray-a2: #00abec12;
  --gray-a3: #00648d1b;
  --gray-a4: #004f6524;
  --gray-a5: #003e4f2c;
  --gray-a6: #002d3b34;
  --gray-a7: #00213040;
  --gray-a8: #00171d53;
  --gray-a9: #00060480;
  --gray-a10: #0004048a;
  --gray-a11: #000503a8;
  --gray-a12: #060500e2;

  --gray-contrast: #FFFFFF;
  --gray-surface: #ffffffcc;
  --gray-indicator: #7f7b77;
  --gray-track: #7f7b77;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --gray-1: oklch(95.7% 0.0018 69.92);
      --gray-2: oklch(94.3% 0.0019 69.92);
      --gray-3: oklch(91.4% 0.0025 69.92);
      --gray-4: oklch(88.8% 0.0025 69.92);
      --gray-5: oklch(86.3% 0.0028 69.92);
      --gray-6: oklch(83.7% 0.0029 69.92);
      --gray-7: oklch(80.1% 0.0031 69.92);
      --gray-8: oklch(74% 0.0038 69.92);
      --gray-9: oklch(58.6% 0.0074 69.92);
      --gray-10: oklch(55.1% 0.0069 69.92);
      --gray-11: oklch(45% 0.0055 69.92);
      --gray-12: oklch(24% 0.0087 69.92);

      --gray-a1: color(display-p3 0.7216 0.949 1 / 0.158);
      --gray-a2: color(display-p3 0.0157 0.6392 0.8667 / 0.064);
      --gray-a3: color(display-p3 0.0039 0.3529 0.4902 / 0.099);
      --gray-a4: color(display-p3 0.0078 0.2784 0.3451 / 0.135);
      --gray-a5: color(display-p3 0.0078 0.2196 0.2667 / 0.167);
      --gray-a6: color(display-p3 0.0039 0.1529 0.1961 / 0.198);
      --gray-a7: color(display-p3 0.0039 0.1176 0.1608 / 0.246);
      --gray-a8: color(display-p3 0.0039 0.0784 0.098 / 0.321);
      --gray-a9: color(display-p3 0 0.0235 0.0078 / 0.502);
      --gray-a10: color(display-p3 0 0.0196 0.0157 / 0.542);
      --gray-a11: color(display-p3 0 0.0118 0.0078 / 0.657);
      --gray-a12: color(display-p3 0.0196 0.0157 0 / 0.886);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(58.6% 0.0074 69.92);
      --gray-track: oklch(58.6% 0.0074 69.92);
    }
  }
}
